@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/ng2-slim-loading-bar/style.css";

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
