/* Structure */
.example-container {
  position: relative;
  padding: 5px;
  margin: auto;
  width: 60%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  position: relative;
}

.example-full-width {
  width: 100%;
  margin: auto;
}

.example-full-width:nth-last-child(0) {
  margin-bottom: 10px;
}

.button-row {
  margin: 10px 0;
}

.mat-flat-button {
  margin: 5px;
}

mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}
.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
 height: 100%;
}
