<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Service Name</label>
        <input type="text" class="form-control"
        formControlName="serviceName"
          #serviceName
          [(ngModel)] = "nesar.serviceName"/>
      </div>
      <div *ngIf="angForm.controls['serviceName'].invalid && (angForm.controls['serviceName'].dirty || angForm.controls['serviceName'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['serviceName'].errors.required">
          Service Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">SS Code </label>
        <textarea class="form-control" rows = 7 cols = "5"
        formControlName="serviceKeeCode"
        #serviceKeeCode
        [(ngModel)] = "nesar.serviceKeeCode"></textarea>
      </div>
      <div *ngIf="angForm.controls['serviceKeeCode'].invalid && (angForm.controls['serviceKeeCode'].dirty || angForm.controls['serviceKeeCode'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['serviceKeeCode'].errors.required">
          SS code is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Description</label>
        <input type="text" class="form-control"
        formControlName="description"
        #description
        [(ngModel)] = "nesar.description"/>
      </div>
      <div *ngIf="angForm.controls['description'].invalid && (angForm.controls['description'].dirty || angForm.controls['description'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['description'].errors.required">
          Description is required.
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4">Specification </label>
        <textarea class="form-control" rows = 7 cols = "5"
        formControlName="specifications"
        #specifications
        [(ngModel)] = "nesar.specifications"></textarea>
      </div>
      <div *ngIf="angForm.controls['specifications'].invalid && (angForm.controls['specifications'].dirty || angForm.controls['specifications'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['specifications'].errors.required">
          Specification is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">More Info.</label>
        <input type="text" class="form-control"
        formControlName="moreInfo"
        #moreInfo
        [(ngModel)] = "nesar.moreInfo"/>
      </div>
      <div *ngIf="angForm.controls['moreInfo'].invalid && (angForm.controls['moreInfo'].dirty || angForm.controls['moreInfo'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['moreInfo'].errors.required">
          More Info. is required.
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary"
        [disabled]="angForm.pristine || angForm.invalid"
        (click) = "updateService(serviceName.value, serviceKeeCode.value, description.value, specifications.value, moreInfo.value)">Update Member</button>
      </div>
    </form>
  </div>
</div>
