ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}
.mat-toolbar.mat-primary {
  background: #fff;
  color: #fff;
}
.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button {
  color: rgba(0,0,0,.87);

}
.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 35px;
  width: 35px;
  color: #00a651;
  margin: 20px;
  font-size: 35px;
  }
  .example-form-field {
    width: 200px;
  }