
<mat-toolbar color="primary">
  <span>
    <a routerLink="/">
    <img src="../../../assets/keemona_logo.png" width="25%">
  </a>
  </span>
  <span class="spacer"></span>

    <button mat-raised-button routerLink="/companies" > Companies</button>
      <button mat-raised-button routerLink="/projects" > Projects</button>
    <button mat-raised-button routerLink="/services" > Services</button>
    <button mat-raised-button routerLink="/auth/users" > Users</button>
    <mat-icon matSuffix [matMenuTriggerFor]="menu">account_circle</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>

    </mat-toolbar>
