<table class="table table-hover">
  <thead>
  <tr>
      <td>Service Name</td>
      <td>SS Code</td>
      <td>Description</td>
      <td>Specification</td>
      <td>More Info</td>
      <td colspan="2">Actions</td>
      <td><a routerLink="/service/create" class="btn btn-primary">Add Service</a></td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let service of services">

          <td>{{ service.serviceName }}</td>
          <td>{{ service.serviceKeeCode }}</td>
          <td>{{ service.description }}</td>
          <td>{{ service.specifications }}</td>
          <td>{{ service.moreInfo }}</td>
          <td><a [routerLink]="['/services',service._id]" class="btn btn-primary">Edit</a></td>
          <td><a (click) = "deleteService(service._id, i)" class="btn btn-danger">Delete</a>

  </tbody>
</table>
